li {
  list-style-type: none;
  a {
    background-color: beige;
    text-decoration: none;
    font-family: "Courier New", sans-serif;
    padding: 1em;
  }
  a:hover {
    background-color: #7bff75;
  }
}

h1 {
  background-color: aliceblue;
  text-align: center;
  margin: 1em 0;
}

img {
  border-radius: 50%;
  width: 100px;
  &:hover {
    width: 200px;
  }
}